www.ancc.blog {
	redir https://ancc.blog{uri} 308
}

ancc.blog {
	handle /api/golf/* {
		uri replace /api/golf /api
		reverse_proxy 127.0.0.1:8000
	}
	handle {
		root * /srv/ancc-blog
		file_server
	}
}

golf.ancc.blog {
	reverse_proxy 127.0.0.1:8000
}

blackjack.ancc.blog {
	header Access-Control-Allow-Origin https://ancc.blog
	header Access-Control-Allow-Methods "GET, HEAD, OPTIONS"
	@options {
		method OPTIONS
	}
	handle @options {
		respond 204
	}
	root * /srv/blackjack-trainer
	encode gzip
	try_files {path} {path}/ {path}/index.html /index.html
	file_server
}
