www.ancc.blog {
	redir https://ancc.blog{uri} 308
}

ancc.blog {
	handle /api/golf/* {
		uri replace /api/golf /api
		reverse_proxy 127.0.0.1:8000
	}
	handle {
		root * /srv/ancc-blog
		file_server
	}
}

golf.ancc.blog {
	reverse_proxy 127.0.0.1:8000
}
